<div class="d-flex justify-content-center">

<img class="rounded-circle home-pic m-5 d-none d-md-block" src="{{ asset('build/images/nails-yellow.jpg') }}" alt="">
<img class="rounded-circle home-pic m-5 d-none d-md-block" src="{{ asset('build/images/massage.jpg') }}" alt="">
<img class="rounded-circle home-pic m-5" src="{{ asset('build/images/woman-yellow.jpg') }}" alt="">

</div>
<div class="text-center">
  <h5><i>Coiffure, soins, manucure</i></h5>
  <h6><i>Trouvez les meilleurs professionnels près de chez vous !</i></h6>
</div>

