{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<h2 class="text-center fw-bold">La sélection du jour</h2>
<div class="container text-center border">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
</div>

<h2 class="text-center fw-bold mt-5">Tendances actuelles / Inspirations</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<div class="lightbox-gallery">
    <div class="container">
        <div class="row photos mb-4">
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
        </div>
        <div class="row photos mb-4">
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
        </div>
        <div class="row photos mb-4">
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-2 item"><a href="https://picsum.photos/200" data-lightbox="photos"><img class="img-fluid" src="https://picsum.photos/200"></a></div>
        </div>
    </div>
</div>

{% endblock %}
