{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <a class="btn p-0 mt-3" href="{{ path('app_admin') }}"><i class="bi bi-arrow-left"></i> Retour</a>
{% endblock %}
