<li class="nav-item dropdown rounded me-3 p-2 w-100">
    <i class="bi bi-person-bounding-box me-1 fs-5 text-light"></i>
    <a class="nav-link d-inline d-lg-block dropdown-toggle active p-0 text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Mon compte
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        {% if is_granted("ROLE_SUPER_ADMIN") %}
            <li>
                <a class="dropdown-item"href="{{ path('app_admin') }}">Dashboard</a>
            </li>
        {% endif %}
            <li>
                <a class="dropdown-item" href="{{ path('app_user_show', {id: app.user.id}) }}">
                    Voir mon profil
                </a></li>
            <li>
        {% if is_granted("ROLE_PROVIDER") %}
            <li>
                <a class="dropdown-item" href="{{ path('app_provider_services_list', {id: app.user.id }) }}">
                    Ma page pro
                </a>
            </li>
            <li>
        {% endif %}
                <hr class="dropdown-divider">
            </li>
        <li>
            <a class="dropdown-item" href="/logout">
                Se déconnecter
            </a>
        </li>
    </ul>
</li>