<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="ms-auto me-5" href="/register/pro"><i class="bi bi-plus-square me-2"></i>Devenir prestataire</a>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item position-relative me-3">
          <i class="bi bi-chat-left-text p-0"></i>
          <a class="nav-link active stretched-link p-0" aria-current="page" href="#"></i>Messages</a>
        </li>
        <li class="nav-item position-relative me-3">
          <i class="bi bi-heart p-0"></i>
          <a class="nav-link active stretched-link p-0" aria-current="page" href="#"></i>Favoris</a>
        </li>
        {% if is_granted("ROLE_USER") %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i>Mon compte
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Voir mon profil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Se déconnecter</a></li>
          </ul>
        </li>
          {% else %}
          <li class="nav-item position-relative">
            <i class="bi bi-person p-0"></i>
            <a class="nav-link active stretched-link p-0" aria-current="page" href="/login"></i>Connexion</a>
          </li>
        {% endif %}
        
        
      </ul>
    </div>
  </div>
</nav>