<nav class="navbar navbar-expand-lg bg-secundary-kb pt-0">
    <div class="container-fluid">
        <div class="container">
            <form class="d-flex w-50 mx-auto" role="search">
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</nav>
