main.login {
    height: 100%;
    width: 100%;
}

.form-content-login {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

section#login-form,
section#register-form {
    top: 0;
    left: 0;
    padding: 0;
}

section#login-form .row > * {
    padding: 0;
}

.nav-tabs,
section#login-form .card,
section#register-form .card {
    border: 0;
    border-radius: 0;
}

.image-register-pro {
    object-fit:cover !important;
    width : 50rem;
    margin-left : 1rem;
}