.delete-btn {
    padding : 1px;
    padding-top : 2px;
    margin-top : 13px;
    margin-right : 10px;
}

.a-prov {
    color:black !important;
}

.btn-prov:hover {
    background : #157347 !important ;
    color : white !important;
}

.a-prov:hover {
    color:white !important;
}
