@import "~bootstrap/scss/bootstrap";
@import "_navbar.scss";
@import "_edit.scss";
@import "_message.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  overflow-x: hidden;
  flex:1;
  height: 100%;
}

.bg-primary-kb {
  background-color: #00a19a;
  background-color: rgb(0, 161, 154);
}

.bg-secondary-kb {
  background-color: #f2d281;
  background-color: rgb(242, 210, 129);
}

.bg-gray-500 {
  background-color: #adb5bd;
  background-color: rgb(173, 181, 189);
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.color-red {
  color: red;
}

a.no-decoration {
  text-decoration: none;
}