//start coding by removing this file and adding yours ;)


@import "~bootstrap/scss/bootstrap";
@import "_edit.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

body {
  overflow-x: hidden;
}

.bg-primary-kb {
  background-color: #00a19a;
}

.bg-secundary-kb {
  background-color: #f2d281;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.select-location {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1px;
}

.select-districts option {
  background-color: white;
  color: green;
}

.submit-searchbar {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}