{% extends 'base.html.twig' %}

{% block title %}Edit contact mail and copyright{% endblock %}

{% block body %}
    <h1>Modifier le mail de contact et l'année du copyright</h1>

    {{ include('contact_mail_copyright/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a class="btn p-0 mt-3" href="{{ path('app_admin') }}"><i class="bi bi-arrow-left"></i> Retour</a>

{% endblock %}
