{% extends 'base.html.twig' %}

{% block title %}Edition des informations de l'utilisateur{% endblock %}

{% block body %}
    <h1>Edition des informations de {{ user.firstname ~ ' ' ~ user.lastname }}</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Valider'}) }}
{% endblock %}
