{% extends 'base.html.twig' %}

{% block title %}Edition des informations de l'utilisateur{% endblock %}

{% block body %}
    <h1>Edition des informations de {{ user.firstname ~ ' ' ~ user.lastname }}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_show', {'id': user.id}) }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
