{% extends 'base.html.twig' %}

{% block title %}New Catalog{% endblock %}

{% block body %}
    <h1>Ajouter une photo</h1>

    {{ include('catalog/_form.html.twig') }}

    <a class="btn p-0 mt-3" href="{{ path('app_provider_services_list', {id: app.user.id}) }}"><i class="bi bi-arrow-left"></i> Retour</a>
{% endblock %}
